{% extends 'layout.html' %}
{% from 'macros.html' import recipe_card with context %}
{% from 'macros.html' import recipe_url with context %}
{% set active_page = 'home' %}

{% block content %}
{% if recipes %}
<h1>{{ _("Today's inspiration") }}</h1>
<div class="ui grid">
  {% for recipe in recipes %}
    <div class="four wide column">
      {{ recipe_card(recipe) }}
    </div>
  {% endfor %}
</div>

<div class="ui divider"></div>
{% endif %}


{% if not current_user.is_anonymous %}

<h1><i class="calendar icon"></i>{{ _("Meal planning") }}</h1>
<table class="ui selectable very basic table">
  {% for meals in days.values() %}
    {% set single = meals|length==1 %}
    {% set meal = meals[0] %}
    <tr>
      <td class="center aligned one wide">
        {% if meal.recipe %}<a href="{{ recipe_url(meal.recipe) }}" style="display: block; height: 100%;">{% endif %}
        <img class="ui mini avatar image" src="{% if meal.recipe %}/static/food/example-{{ meal.recipe.id }}.jpg{% endif %}">
        {% if meal.recipe %}</a>{% endif %}{# Closing <a> for <td> block #}
      </td>
      <td>
        {% if single and meal.recipe %}<a href="{{ recipe_url(meal.recipe) }}" style="display: block; color: black; height: 100%;">{% endif %}
        <strong style="display: block;">{{ meal.day | date('EEEE d MMMM') | capitalize }}</strong>
        {% for meal in meals %}
          {% if meal.recipe %}
            {% if not single %}<a href="{{ recipe_url(meal.recipe) }}" style="display: block; color: black;">{% endif %}
            <i class="file alternate icon"></i>{{ meal.recipe.name }}
            {% if not single %}</a>{% endif %}
          {% endif %}
          {% if meal.name %}
            <div{% if meal.note %} class="notes" data-title="{{ _('Notes') }}" data-content="{{ meal.note }}"{% endif %}>
              {% if meal.note %}<i class="sticky note icon"></i>{% endif %}
              {{- meal.name }}
            </div>
          {% endif %}
        {% endfor %}
        {% if single and meal.recipe %}</a>{% endif %}{# Closing <a> for <td> block #}
      </td>
      <td class="two wide">
        {% if meal.servings %}<i class="users icon"></i>serves {{ meal.servings }}{% endif %}
      </td>
      <td class="one wide">
        {% for meal in meals %}
          {% if meal.recipe %}<i class="stopwatch icon"></i>{{ meal.recipe.prep_time }}min{% endif %}
          {% if loop.nextitem is defined %}<br>{% endif %}
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
    <tr>
      <td></td>
      <td>
        <strong>Saturday March 28</strong>
        <div class="ui search quicksearch" style="display: inline-block; width:80%; margin-left:1rem;">
          <div class="ui icon fluid input small">
            <input type="text" class="prompt" placeholder="{{ _('Quick search for a recipe...') }}">
            <i class="search icon"></i>
          </div>
        </div>
      </td>
      <td></td>
      <td>
        <a class="ui labeled icon button" href="{{ url_for('recipes', schedule='24-3-2020') }}">
          <i class="binoculars icon"></i>
          {{ _("Search") }}
        </a>
      </td>
    </tr>

    <tr>
      <td></td>
      <td>
        <button class="ui labeled icon button">
          <i class="plus icon"></i>
          {{ _("Add day") }}
        </button>
        <button class="ui labeled icon button">
          <i class="calendar plus outline icon"></i>
          {{ _("Add week") }}
        </button>
        <a class="ui labeled icon button" href="{{ url_for('scheduler') }}">
          <i class="calendar alternate outline icon"></i>
          {{ _("Scheduler") }}
        </a>
      </td>
      <td></td>
      <td></td>
    </tr>
</table>

<script>
$(document).ready(function(){
    $('.notes').popup();
    $('.quicksearch').search({
      apiSettings: {
        url: '/recipes/search?q={query}'
      },
      minCharacters : 3,
      onSelect: function(result, response) {
        console.log(result);
        $('.quicksearch').search('hide results');
      }
    });
});
</script>
{% else %}
<div class="ui icon warning message">
  <i class="exclamation triangle icon"></i>
  <div class="content">
    <div class="header">{{ _("Login required!") }}</div>

    <p>{{ _('This application requires you to login. Only this homepage is accessible without login.') }}</p>
    {% autoescape false %}
      <p>
        {{ _('Please %(link)slogin%(closelink)s to continue.', link='<a href="/login">', closelink='</a>') }}
        {{ _('New here? You can also %(link)sregister%(closelink)s to start with groceri.es.', link='<a href="/register">', closelink='</a>') }}</p>
    {% endautoescape %}
  </div>
</div>
{% endif %}

{% endblock %}