{% extends 'layout.html' %}
{% set active_page = 'pantry' %}

{% block content %}
<h1>{{ _('Pantry') }}</h1>

<div class="ui styled fluid accordion">
	<div class="active title">
		<i class="dropdown icon"></i>Kruiden
	</div>
	<div class="active content">
		<table class="ui very compact selectable fluid striped table">
		  <thead>
		    <tr>
		      <th class="fourteen wide">Ingrediënt</th>
		      <th class="two wide"></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Basilicum (gedroogd)</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Tijm (gedroogd)</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Rozemarijn (gedroogd)</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Oregano (gedroogd)</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Salie (gedroogd)</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Dille (gedroogd)</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		  </tbody>
		</table>
	</div>

	<div class="active title">
		<i class="dropdown icon"></i>Specerijen
	</div>
	<div class="active content">
		<table class="ui very compact selectable fluid striped table">
		  <thead>
		    <tr>
		      <th class="fourteen wide">Ingrediënt</th>
		      <th class="two wide"></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Zwarte peper</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Witte peper</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Zout</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Nootmuskaat</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Kruitnagel</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Steranijs</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		  </tbody>
		</table>
	</div>

	<div class="active title">
		<i class="dropdown icon"></i>Oliën
	</div>
	<div class="active content">
		<table class="ui very compact selectable fluid striped table">
		  <thead>
		    <tr>
		      <th class="fourteen wide">Ingrediënt</th>
		      <th class="two wide"></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Olijfolie</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Extra vergine olijfolie</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Zonnebloemolie</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Arachideolie</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Druivenpitolie</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Rijstolie</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Sesamolie</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Walnootolie</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Truffelolie</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		  </tbody>
		</table>
	</div>

	<div class="active title">
		<i class="dropdown icon"></i>Koolhydraten
	</div>
	<div class="active content">
		<table class="ui very compact selectable fluid striped table">
		  <thead>
		    <tr>
		      <th class="fourteen wide">Ingrediënt</th>
		      <th class="two wide"></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Fusili pasta</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Penne pasta</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Linguine</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Oregano</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Rijst</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Aardappels</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		  </tbody>
		</table>
	</div>

	<div class="active title">
		<i class="dropdown icon"></i>Suikerwaar
	</div>
	<div class="active content">
		<table class="ui very compact selectable fluid striped table">
		  <thead>
		    <tr>
		      <th class="fourteen wide">Ingrediënt</th>
		      <th class="two wide"></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Agavesiroop</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Honing</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Kristalsuiker</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Rietsuiker</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Palmsuiker</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		  </tbody>
		</table>
	</div>

	<div class="active title">
		<i class="dropdown icon"></i>Schoonmaakmiddelen
	</div>
	<div class="active content">
		<table class="ui very compact selectable fluid striped table">
		  <thead>
		    <tr>
		      <th class="fourteen wide">Ingrediënt</th>
		      <th class="two wide"></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Handzeep</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Allesreiniger</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>WC-eend</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Glassex</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Dettol</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		    <tr>
		      <td>Schoonmaakdoekjes</td>
		      <td class="right aligned"><a class="ui tiny button"><i class="shop icon"></i></a></td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>

<div class="ui divider"></div>

<button class="ui button">Add section</button>
<script>
$(document).ready(function(){
    $('.accordion').accordion({exclusive: false});
});
</script>
{% endblock %}