{% extends 'layout.html' %}
{% set title = _('New Recipe') %}

{% block content %}
<h1>{{ _('New Recipe') }}</h1>
<form method="post" novalidate class="ui form{% if form.errors%} error{% endif %}">
    {{ form.hidden_tag() }}

    <div class="field">
        {{ form.name.label }}
        {{ form.name(size=128) }}
    </div>
    {% for error in form.name.errors %}
        <div class="ui error message"><p>{{ error }}</p></div>
    {% endfor %}

    <div class="field">
        {{ form.intro.label }}
        {{ form.intro(size=512) }}
    </div>
    {% for error in form.intro.errors %}
        <div class="ui error message"><p>{{ error }}</p></div>
    {% endfor %}

    <div class="field">
        {{ form.prep_time.label }}
        {{ form.prep_time() }}
    </div>
    {% for error in form.prep_time.errors %}
        <div class="ui error message"><p>{{ error }}</p></div>
    {% endfor %}

    <div class="field">
        {{ form.cook_time.label }}
        {{ form.cook_time() }}
    </div>
    {% for error in form.cook_time.errors %}
        <div class="ui error message"><p>{{ error }}</p></div>
    {% endfor %}

    <div class="field">
        {{ form.servings.label }}
        {{ form.servings() }}
    </div>
    {% for error in form.servings.errors %}
        <div class="ui error message"><p>{{ error }}</p></div>
    {% endfor %}

    <div class="field">
        {{ form.description.label }}
        {{ form.description() }}
    </div>
    {% for error in form.description.errors %}
        <div class="ui error message"><p>{{ error }}</p></div>
    {% endfor %}
    <div class="field">{{ form.submit(class="ui button") }}</div>
</form>

{% endblock %}
