{% extends 'layout.html' %}
{% set title = _('Register') %}

{% block content %}
<h1>{{ _('Register') }}</h1>
<form method="post" novalidate class="ui form{% if form.errors%} error{% endif %}">
    {{ form.hidden_tag() }}
    <div class="field">
        {{ form.username.label }}
        {{ form.username(size=32) }}
    </div>
    {% for error in form.username.errors %}
        <div class="ui error message"><p>{{ error }}</p></div>
    {% endfor %}
    <div class="field">
        {{ form.email.label }}
        {{ form.email(size=128) }}
    </div>
    {% for error in form.email.errors %}
        <div class="ui error message"><p>{{ error }}</p></div>
    {% endfor %}
    <div class="field">
        {{ form.password.label }}
        {{ form.password(size=32) }}
    </div>
    {% for error in form.password.errors %}
        <div class="ui error message"><p>{{ error }}</p></div>
    {% endfor %}

    <div class="field">{{ form.submit(class="ui button") }}</div>
</form>

<script>
$(document).ready(function(){
    $('.ui.checkbox').checkbox();
});
</script>
{% endblock %}
