{% extends 'layout.html' %}
{% set title = 'Scheduler' %}
{% set active_page = 'home' %}

{% block content %}
<h1>Meal scheduler</h1>

<div class="ui seven column stackable grid">
    <div class="column">
		<h2>Saturday</h2>
	</div>

   	<div class="column">
		<h2>Sunday</h2>			
	</div>

    <div class="column">
		<h2>Monday</h2>			
	</div>
	
	<div class="column">
		<h2>Tuesday</h2>			
	</div>

	<div class="column">
		<h2>Wednesday</h2>			
	</div>

	<div class="column">
		<h2>Thursday</h2>			
	</div>

	<div class="column">
		<h2>Friday</h2>			
	</div>
</div>
{% endblock %}