{% extends 'layout.html' %}
{% set active_page = 'settings' %}

{% block content %}
<h1>{{ _('Settings') }}</h1>

<div class="ui divided grid">
  <div class="row">
    <div class="eight wide column ui">
        <h2>{{ _('Your profile') }}</h2>
        <form class="ui form" id="profile-form">
          <div class="field">
            <label>{{ _('Name') }}</label>
            <input type="text" name="name" placeholder="{{ _('Name') }}" value="{{ user.name }}">
          </div>
          <div class="field">
            <label>{{ _('Email address') }}</label>
            <input type="text" name="email" placeholder="{{ _('Email address') }}" value="{{ user.email }}">
          </div>
          <div class="field">
            <label>{{ _('Password') }}</label>
            <input type="password" name="password" placeholder="{{ _('Password') }}" value="*************">
          </div>
          <button class="ui button" type="submit">{{ _('Save profile') }}</button>
          <a class="ui button" href="{{ url_for('logout') }}">{{ _('Logout') }}</a>
        </form>
    </div>

    <div class="eight wide column ui">
        <h2>{{ _('Your data') }}</h2>
        
        <div class="ui three column grid">
          <div class="row">
            <div class="centered column">
              <a class="ui huge statistic" href="{{ url_for('recipes') }}">
                <div class="value">
                  {{ count.recipes }}
                </div>
                <div class="label">
                  {{ _('Recipes') }}
                </div>
              </a>
            </div>
          </div>

            <div class="column">
              <a class="ui statistic" href="{{ url_for('ingredients') }}">
                <div class="value">
                  {{ count.ingredients }}
                </div>
                <div class="label">
                  {{ _('Ingredients') }}
                </div>
              </a>
            </div>

            <div class="column">
              <a class="ui statistic" href="{{ url_for('tags') }}">
                <div class="value">
                  {{ count.tags }}
                </div>
                <div class="label">
                  {{ _('Tags') }}
                </div>
              </a>
            </div>

            <div class="column">
              <a class="ui statistic" href="{{ url_for('categories') }}">
                <div class="value">
                  {{ count.categories }}
                </div>
                <div class="label">
                  {{ _('Categories') }}
                </div>
              </a>
            </div>
        </div>

    </div>
  </div>

  <div class="row" style="margin-top: 2rem;">
    <div class="eight wide column ui">
        <h2>{{ _('Application settings') }}</h2>

        <form class="ui form" id="settings-form">
          <div class="field">
            <label>{{ _('Grocery day') }} ({{ settings.grocery_day.value }})</label>
            <select class="ui fluid dropdown">
                <option value="sat" selected="selected">{{ _('Saturday') }}</option>
                <option value="sun">{{ _('Sunday') }}</option>
                <option value="mon">{{ _('Monday') }}</option>
                <option value="tue">{{ _('Tuesday') }}</option>
                <option value="wed">{{ _('Wednesday') }}</option>
                <option value="thu">{{ _('Thursday') }}</option>
                <option value="fri">{{ _('Friday') }}</option>
              </select>
          </div>

          <div class="field">
            <label>{{ _('Default servings') }} ({{ settings.default_servings.value }})</label>
            <div class="ui labeled ticked slider"></div>
          </div>

          <div class="field">
            <label>{{ _('Default category listing') }} ()</label>
            <select multiple="" class="ui dropdown courses">
              <option value="">Select course</option>
              <option value="amuse">Amuse</option>
              <option value="starter">Starter</option>
              <option value="main" selected>Main</option>
              <option value="side-dish">Side dish</option>
              <option value="desert">Desert</option>
            </select>
          </div>

          <div class="field">
            <label>{{ _('Default duration listing') }} ()</label>
            <select multiple="" class="ui dropdown">
              <option value="">Select duration</option>
              <option value="0-15" selected>0-15 minutes</option>
              <option value="15-30" selected>15-30 minutes</option>
              <option value="30-60" selected>30-60 minutes</option>
              <option value="60-120">60-120 minutes</option>
              <option value="120+">120+ minutes</option>
            </select>
          </div>

          <div class="field">
            <label>{{ _('Application language') }}</label>
            <select class="ui dropdown">
              <option value="">{{ _('Select language') }}</option>
              {% for language in settings.available_languages %}
                {% set language_name = language | language_name %}
                <option value="{{ language }}"{% if settings.default_language.value == language %} selected{% endif %}>
                  {{ language_name.name }}
                </option>
              {% endfor %}
            </select>
          </div>

          <div class="inline field">
            <div class="ui toggle checkbox">
              <input type="checkbox" tabindex="0" class="hidden">
              <label>{{ _('Allow user registration') }} ({{ settings.allow_user_registration.value }})</label>
            </div>
          </div>
          
          <button class="ui button" type="submit">{{ _('Save settings') }}</button>
        </form>

    </div>

    <div class="eight wide column ui">
        <h2>{{ _('About groceri.es') }}</h2>
        
        <div style="display: flex; justify-content: center; margin-bottom: 2rem;">
          <i class="centered hugo leaf icon" style="line-height: 1; font-size: 5rem;"></i>
        </div>
        
        <p>{{ _('groceri.es is a self-hosted webapplication to help catalogue your recipes, schedule your meals during the week and create shopping lists for groceries based on your meal planning.') }}</p>

        <p>{{ _('The goal of groceri.es is to ease your meal planning based on known recipes and to auto generate your groceries shopping list. The application is an opinionated design based on how I used to schedule meals with Google Keep and delicious.magazine.') }}</p>

        <p>{{ _('groceri.es runs in a  a docker container you can host by yourself. The code is open source and using Flask and Fomantic UI.') }}</p>        
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
    $('.dropdown').dropdown();
    $('.slider').slider({min:1, max:10, start: 2});
    $('.ui.checkbox').checkbox();
});
</script>

<script type="module">
import {Profile} from '/static/scripts/index.js';

function profile() {
  let form = document.getElementById('profile-form')
  form.addEventListener('submit', function(event) {
    let uri = '{{ url_for('profile') }}'
    let profile = new Profile(uri)

    profile.name = this.elements.name.value
    profile.email = this.elements.email.value
    profile.password = this.elements.password.value
    // Now returns HTTP 500 due to server view not ready
    profile.update()

    event.preventDefault()
  })
}
document.addEventListener('DOMContentLoaded', profile)
</script>
{% endblock %}